<div style="margin-top: 27px;margin-left: 15px;"> 
<section class="secodary_groups">
	<h1>Secondary Groups</h1>  
    {{#each getSecondaryGroups as |secondaryGroup|}}
    <div class="display-row">  
    
	    <div class="field">Name</div>
	    <div class="value">{{secondaryGroup}}</div>
	      
        
    </div>  
    {{/each}}      
</section>
</div>

